COMPOSE_FILE=docker-compose.prod.yml
COMPOSE_PROJECT_NAME=unity-lands

SITE_ADDRESS=:80
NODE_ENV=production

FRONTEND_IMAGE=581049839268.dkr.ecr.eu-north-1.amazonaws.com/unity-lands/frontend:latest
BACKEND_IMAGE=581049839268.dkr.ecr.eu-north-1.amazonaws.com/unity-lands/backend:latest

POSTGRES_USER=unitylands
POSTGRES_PASSWORD=change_me
POSTGRES_DB=unitylands

JWT_ACCESS_SECRET=change_me_access_secret
JWT_ACCESS_EXPIRED=15m
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_REFRESH_EXPIRED=7d

CORS_ORIGIN=https://unity-lands.com,https://www.unity-lands.com
AUTH_COOKIE_SECURE=true
AUTH_REFRESH_COOKIE_PATH=/auth/refresh
